.main {
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    padding: 20px;
}

.products {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.product {
    border: 1px solid green;
    padding: 20px 40px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

.pop-up {
    position: absolute;
    top: 60%;
    left: 80%;
    border: 1px solid green;
}